
/* start hero */
.hero{
  background-color: var(--main-color);
  padding-top: 80px;
  /* padding-bottom: 100px; */
  height: auto;
}
.hero .project-logo{
  /* background-color: red; */
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.hero .project-logo img{
  object-fit: contain;
  height: 100%;
}
.hero .hero-item:nth-child(4) .project-logo,/* NeuroCure logo */
.hero .hero-item:nth-child(5) .project-logo,/* Schilddrüsenmedizin logo */
.hero .hero-item:nth-child(6) .project-logo,/* Schilddrüsenmedizin logo */
.hero .hero-item:nth-child(8) .project-logo,/* Al-Naggar logo */
.hero .hero-item:nth-child(10) .project-logo,/* Al-Mahdy logo */
.hero .hero-item:nth-child(13) .project-logo{/* Sahl Cars logo */
  /* filter: invert(100%); */
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.hero .hero-item:nth-child(5) .project-logo img,/* Schilddrüsenmedizin logo */
.hero .hero-item:nth-child(7) .project-logo img{/* Al-Naggar logo */
  /* filter: invert(100%); */
  /* background-color: #fff;
  height: 150px;
  width: 150px;
  border-radius: 50%; */
}
@media (max-width:640px) {
  .hero .project-logo{
    width: 150px;
  }  
}
.hero .container .hero-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid var(--sec-color);
  padding-bottom: 40px;
  color: var(--text-color);
  opacity: 0;
  transform: translateY(100px);
  transition: var(--main-transition);
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}
.hero .container .hero-item.scrolled{
  opacity: 1;
  transform: translateY(0px);
}
.hero .container .hero-item h2{
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.hero .container .hero-item > p{
  line-height: 1.4;
  text-align: center;
  /* background-color: red; */
}
.hero .container .hero-item > p.note{
  background-color: var(--sec-color);
  color: var(--main-color);
  padding: 2px 10px;
  margin-top: 5px;
}
.hero .container .hero-item > a{
  margin-top: 20px;
  overflow: hidden;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--sec-color);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 19/9;
  width: 100%;
}
.hero .container .hero-item > a > img{
  /* width: 100%; */
  object-fit: contain;
}
.hero .container .hero-item{
  position: relative;
}
.hero .container .details{
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center;
  /* background-image: linear-gradient(to top, var(--main-color), transparent); */
  background-color: rgb(0,0,0,0.4);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  transition: var(--main-transition);
  border: 1px solid var(--sec-color);
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  backdrop-filter: blur(10px);
  /* opacity: 0 !important; */
}
.hero .container .hero-item:hover .details{
  opacity: 1 !important;
}
.hero .container .details .project-info{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.hero .container .details .project-info > *{
  width: 50% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero .container .details .project-info > :nth-child(1){
  border-right: 1px solid var(--sec-color);
}
.hero .container .details .project-info .client-rating svg{
  color: yellow;
}
.hero .container .details .project-info .client-rating ul{
  margin-bottom: 10px;
}
.hero .container .details .project-info .client-rating p{
  font-size: 14px;
  width: 100%;
}
.hero .container .details .project-info .client-rating p:first-of-type{
  margin-top: 8px;
  margin-bottom: 10px;
}
.hero .container .details .project-info .client-rating p:last-of-type{
  line-height: 1.6;
  border-top: 1px solid #fff;
  padding-top: 10px;
}
.hero .container .details h2,
.hero .container .details h3{
  margin-bottom: 8px;
}
.hero .container .details p{
  /* margin-bottom: 16px; */
}
.hero .container .details ul{
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero .container .details ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.hero .container .details ul .img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color-semi);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero .container .details ul img{
  object-fit: contain;
  /* width: 40px; */
  /* height: 40px; */
}
.hero .container .details ul span{
  font-size: 12px;
}
.hero .container .details a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: #020206cb;
  margin-top: 16px;
  border-radius: 6px;
  font-weight: bold;
}
.hero .container .details a p{
  margin: 0;
}
@media (max-width:992px) {
  .hero .container .hero-item > p{
    text-align: center;
    font-size: 14px;
  }
  .hero .container .details{
      position: relative;
      opacity: 1 !important;
      width: 100%;
      background-color: transparent;
      border: none;
  }
  .hero .container .details .project-info{
      /* flex-direction: column; */
      font-size: 14px;
      gap: 20px;
  }
  .hero .container .details .project-info > :nth-child(1){
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero .container .details .project-info > :nth-child(1) img{
    /* width: 30px; */
  }
  .hero .container .details ul .img{
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .hero .container .details .project-info{
    flex-direction: column;
    align-items: center;

  }
  .hero .container .details .project-info > *{
    width: 100% !important;
  }
  .hero .container .details{
    bottom: 0;
  }
  .hero .container .details .project-info > :nth-child(1){
    border: none;
    border-bottom: 1px solid var(--sec-color);
    padding-bottom: 20px;
  }
}
/* end hero */