
/* start skills */
.skills{
  padding-top: 0px;
  padding-bottom: 100px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-image: url(../../../public/assets/images/skills.webp); */

  background-size: cover;
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  height: fit-content;
  border-bottom: 1px solid var(--sec-color);
}
.skills .container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills .container .box{
  /* padding-top: 100px;
  padding-bottom: 100px; */
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: var(--main-transition);
}
.skills .container .box.scrolled{
  opacity: 1;
  transform: translateY(0px);
}
.skills .container .box:first-of-type{
}
.skills .container .box:last-of-type{
  /* padding-left: 100px; */
}
.skills .container .box h2{
  font-size: 50px;
  color: var(--sec-color);
  width: 100%;
}
.skills .container .box:last-of-type h2{
  /* width: 70%; */
}
.skills .container .box p{
  font-size: 24px;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.4;
}
.skills .container .box:last-of-type p{
  /* width: 0%; */
}
.skills .other-work{
  background-color: var(--sec-color);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  z-index: 15;
  border-radius: 6px;
  transition: all 0.5s 0s ease-in-out;
  overflow: hidden;
  border: none;
  height: 0;
  padding: 0;
  font-family: "Federo",sans-serif;
  
}
.skills .other-work.shown{
  height: calc(100% - 40px);
  padding: 40px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  box-shadow: 2px 2px 24px -2px var(--sec-color);
}
.skills .other-work h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Dancing Script",sans-serif;
  font-family: "Federo",sans-serif;
  font-size: 250px;
  width: 100%;
  text-align: center;
  margin: 0;
  opacity: 0.6;
  color: var(--main-color);
}
.skills .other-work > svg{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.skills .other-work .other-work-links{
  display: grid;
  grid-template-columns: repeat(3,minmax(200px,1fr));
  gap: 20px;
  transition: all 0.5s 0.3s ease-out;
  transform: translateY(50px);
  opacity: 0;
  padding: 20px;
  /* padding-top: 30px; */
  max-height: calc(100% - 40px);
  overflow-y: scroll;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  background-image: linear-gradient(to bottom, var(--main-color) 20% ,transparent 40%);
}
.skills .other-work.shown .other-work-links{
  transform: translateY(0px);
  opacity: 1;
}
@media (max-width:992px) {
  .skills .other-work .other-work-links{
      grid-template-columns: repeat(2,minmax(200px,1fr));
  }
}
.skills .other-work .other-work-links::-webkit-scrollbar{
  background-color: var(--main-color);
  width: 10px;
}

.skills .other-work .other-work-links::-webkit-scrollbar-thumb{
  background-color: var(--text-color);
  border-radius: 10px;
}
.skills .other-work .other-work-links a{
  display: block;
  color: var(--sec-color);
  background-color: rgb(0 0 0 / 0.7);
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.2s 0s linear;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script",sans-serif;
  font-family: "Federo",sans-serif;
  font-size: 28px;
  color: rgb(213, 208, 208);
}
.skills .other-work .other-work-links div{
  text-align: center;
  padding: 10px;
  border: 2px solid var(--main-color);
  transition: all 0.2s 0s linear;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 130px;
}
.black-dashboard{
  background-image: url(../../../public/assets/images/black-dash-1.webp);
}
.bentfolio{
  background-image: url(../../../public/assets/images/bentfolio.webp);
}
.thrive-ai{
  background-image: url(../../../public/assets/images/thrive-ai.webp);
}
.triple-clean{
  background-image: url(../../../public/assets/images/triple-clean.webp);
}
.john-doe{
  background-image: url(../../../public/assets/images/john.webp);
}
.stimulus{
  background-image: url(../../../public/assets/images/stimulus.webp);
}
.dashboard{
  background-image: url(../../../public/assets/images/dashboard.webp);
}
.event{
  background-image: url(../../../public/assets/images/event.webp);
}
.template{
  background-image: url(../../../public/assets/images/template.webp);
}
.space{
  background-image: url(../../../public/assets/images/space.webp);
}

.ramadan-night{
  background-image: url(../../../public/assets/images/ramadan-nights-bg.webp);
}
.vuertfolio{
  background-image: url(../../../public/assets/images/vuertfolio.webp);
}
.mo3shop{
  background-image: url(../../../public/assets/images/mo3shop.webp);
}

.credit-card{
  background-image: url(../../../public/assets/images/card.webp);
}
.countdown{
  background-image: url(../../../public/assets/images/countdown.webp);
}
.rps{
  background-image: url(../../../public/assets/images/RPS.webp);
}
.picasa{
  background-image: url(../../../public/assets/images/picasa.webp);
}
.url-shrtr{
  background-image: url(../../../public/assets/images/url-shrtr.webp);
}
.weight{
  background-image: url(../../../public/assets/images/weight_app.webp);
}
.color-palette{
  background-image: url(../../../public/assets/images/color-palette.webp);
}
.typathon{
  background-image: url(../../../public/assets/images/typathon.webp);
}
  
.skills .other-work .other-work-links div:hover a{
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.skills .other-work .other-work-links div::before{
  content: "";
  position: absolute;
  width: 100% !important;
  height: 100%;
  transform: translate(0);
  top:0;
  left:0 ;
  transition: all 0.2s 0s linear;
  z-index: 1;
  opacity: 1 !important;
}
.skills .other-work .other-work-links div:hover{
  transform: scale(1.1);
  /* animation: bg-size-change 0.3s 1 0s normal forwards; */
  box-shadow: 2px 2px 24px -2px var(--main-color)
}
.skills .other-work .other-work-links div:hover::before{
  background-color: var(--main-color) !important;
  /* width: 0%; */
  opacity: 0 !important;
}
.skills .other-work .other-work-links a:hover::before{
  display: none;
}
.skills .apps{
  border: none;
  background-color: var(--main-color);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* height: 0px; */
  height: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  z-index: 15;
  border-radius: 6px;
  transition: all 0.5s 0s ease-in-out;
  overflow: hidden;
}
.skills .apps.shown{
  height: calc(100vh - 40px);
  padding: 40px;
  border-top: 1px solid var(--sec-color);
  border-bottom: 1px solid var(--sec-color);
  box-shadow: 2px 2px 24px -2px var(--sec-color);
}
.skills .apps h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Dancing Script",sans-serif;
  font-family: "Federo",sans-serif;
  font-size: 250px;
  width: 100%;
  text-align: center;
  margin: 0;
  opacity: 0.4;
  color: var(--sec-color);
}
.skills .apps > svg{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: var(--sec-color);
}
.skills .apps .apps-links{
  display: grid;
  grid-template-columns: repeat(3,minmax(200px,1fr));
  gap: 20px;
  transition: all 0.5s 0.3s ease-out;
  transform: translateY(50px);
  opacity: 0;
}
.skills .apps.shown .apps-links{
  transform: translateY(0px);
  opacity: 1;
}
.skills .apps .apps-links a{
  display: block;
  color: var(--sec-color);
  background-color: rgb(0 0 0 / 0.7);
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.2s 0s linear;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script",sans-serif;
  font-family: "Federo",sans-serif;
  font-size: 28px;
  color: var(--text-color);
}
.skills .apps .apps-links div{
  text-align: center;
  padding: 10px;
  border: 2px solid var(--sec-color);
  transition: all 0.2s 0s linear;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}
/* start */
.skills .apps .apps-links div:hover a{
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.skills .apps .apps-links div::before{
  content: "";
  position: absolute;
  width: 100% !important;
  height: 100%;
  transform: translate(0);
  top:0;
  left:0 ;
  transition: all 0.2s 0s linear;
  z-index: 1;
  opacity: 1 !important;
}
.skills .apps .apps-links div:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 24px -2px var(--sec-color)
}
.skills .apps .apps-links div:hover::before{
  background-color: var(--sec-color) !important;
  /* width: 0%; */
  opacity: 0 !important;
}
.skills .apps .apps-links a:hover::before{
  display: none;
}
/* end */
@media (max-width:992px){
  .skills .container{
      flex-direction: column;
  }
  .skills .container .box{
      width: 100%;
      text-align: center;
  }
  .skills .container .box:first-of-type{
      border: none;
      border-bottom: 1px solid var(--main-color);
  }
  .skills .container .box:last-of-type{
      padding-left: 0;
  }
  .skills .container .box h2,
  .skills .container .box p{
      margin-left: auto;
      margin-right: auto;
      width: 80%;
  }
}
@media (max-width:767px){
  .skills .container .box:nth-child(1){
    /* border-bottom: 1px solid var(--sec-color); */
  }
  .skills .container .box h2{
      font-size: 34px;
  }
  .skills .container .box p{
    font-size: 18px;
  }
  .skills .container .box button{
      font-size: 12px;
      padding: 20px 50px;
  }
}

@media (max-width:767px) {
  .skills .other-work{
      /* overflow-y: scroll; */
      /* top: 20%; */
      padding-left: 20px !important;
      padding-right: 20px !important;
  }
  
  .skills .other-work .other-work-links::-webkit-scrollbar{
      background-color: var(--sec-color);
      width: 10px;
  }
  .skills .other-work .other-work-links::-webkit-scrollbar-thumb{
      background-color: var(--main-color);
      border-radius: 10px;
  }
  .skills .other-work .other-work-links div:hover{
      transform: scale(1);
      animation: bg-size-change 0.3s 1 0s normal forwards;
      box-shadow: 2px 2px 24px -2px var(--main-color)
  }
  .skills .other-work > svg{
        right: 10px;
        top: 10px;
  }
  .skills .other-work .other-work-links{
      overflow-y: scroll;
      overflow-x:auto;
      height: 100%;
      grid-template-columns: repeat(1,minmax(200px,1fr));
      border-top: 2px solid var(--main-color);
      border-bottom: 2px solid var(--main-color);
      padding-right: 10px;
      padding-left: 10px;
      background-color: var(--main-color-semi);
      width: 100%;
    }
  .skills .other-work .other-work-links div{
        height: 200px;
  }
  .skills .other-work .other-work-links a{
      font-size: 30px;
  }
  .skills .apps{
      width: 80%;
      /* top: 70%; */
      padding-left: 20px !important;
      padding-right: 20px !important;
  }
  .skills .apps > svg{
        right: 10px;
        top: 10px;
  }
  .skills .apps .apps-links{
      width: 100%;
      overflow-y: scroll;
      overflow-x:auto;
      height: 100%;
      grid-template-columns: repeat(1,minmax(200px,1fr));
      border-top: 2px solid var(--sec-color);
      border-bottom: 2px solid var(--sec-color);
      padding: 10px;
      background-color: rgba(240, 16, 16, 0.2);
    }
    .skills .apps .apps-links::-webkit-scrollbar{
      background-color: var(--sec-color);
      width: 10px;
  }
  .skills .apps .apps-links::-webkit-scrollbar-thumb{
      background-color: var(--main-color);
      border-radius: 10px;
  }
  .skills .apps .apps-links div{
        height: 150px;
  }
  .skills .apps .apps-links a{
      font-size: 30px;
  }
  .skills .apps .apps-links div:hover{
      transform: scale(1);
      animation: bg-size-change 0.3s 1 0s normal forwards;
      box-shadow: 2px 2px 24px -2px var(--main-color)
  }
}
@media (max-width:640px) {
  .skills .other-work{
      /* overflow-y: scroll; */
  }
  /* .skills .other-work{
      width: 80%;
  }
  .skills .other-work .other-work-links{
      margin-top: 20px;
      grid-template-columns: repeat(2,minmax(100px,1fr));
  } */
  .skills .other-work .other-work-links div{
      height: 150px;
  }
  /* .skills .apps{
      width: 80%;
  }
  .skills .apps .apps-links{
    margin-top: 20px;
    grid-template-columns: repeat(2,minmax(100px,1fr));
} */
.skills .apps .apps-links div{
      height: 150px;
}
  .skills .container .box h2{
      width: 100% !important;
  }
}
/* end skills */