@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Federo&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
/* start vars */
:root{
  --main-color:#020206;
  --sec-color:#f01010;
  --sec-color-trans:rgb(240, 16, 16,0.5);
  --main-color-semi: #020206ae;
  --google-color: #4285f4;
  --upwork-color: #14a800;
  --whatsapp-color: #128c7e;
  --main-transition: all 0.2s 0s linear;
}
/* end vars */
/* start global rules */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar{
  background-color: var(--sec-color);
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
body{
  font-family: "Inter Tight",sans-serif;
  position: relative;
  /* cursor: url(../../public/assets/images/iconmonstr-code-2.svg),auto; */
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-color);
}
.arabic{
  font-family: "EL Messiri", sans-serif;
}
html{
  scroll-behavior: smooth;
}
::placeholder{
  color: #888;
}
::selection{
  background-color: var(--sec-color);
  color: var(--main-color);
}
img{
  max-width: 100%;
  /* object-fit: contain; */
}
section{
  height: 100vh;
  width: 100%;
  /* scroll-snap-align: center; */
  background-size: cover !important;
  /* background-repeat: no-repeat; */
}
i{
  /* font-family: "Font Awesome Icon"; */
  font-weight: 900;
}
@media (max-width:992px) {
  section{
      height: fit-content;
  }
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  /* color: var(--sec-color); */
  position: relative;
}
a::before{
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 20px;
  height: 20px;
  opacity: 0;
  background-color: #6c4f86;
  transition: all 0.2s 0s linear;
}
a:hover:before{
  /* opacity: 0.3; */
  /* right: -10px; */
}
button{
  box-shadow: 2px 2px 24px -2px var(--sec-color);
  background-color: rgba(73, 21, 21, 0.2);
  border-radius: 8px;
  transition: all 0.2s 0s linear;
  border: 1px solid var(--sec-color);
  padding: 20px 80px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--sec-color);
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
button::before{
  content: "";
  position: absolute;
  background-color: var(--sec-color);
  width: 0;
  height: 100%;
  top:0;
  left:0;
  transition: all 0.2s 0s linear;
}
button svg{
  margin-left: 10px;
  position: relative;
}
button span{
  position: relative;
}
button:hover:before{
  width: 100%;
}
button:hover{
  color: var(--main-color);
}
/* end global rules */
/* start components */
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (min-width:767px) {
  .container{
      width: 750px;
  }
}
@media (min-width:992px) {
  .container{
      width: 980px;
  }
}
@media (min-width:1200px) {
  .container{
      width: 1190px;
  }
}
/* .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.95;
} */
.cursor{
  width: 10px;
  height: 10px;
  background-color: white;
  position: fixed;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;
  border-radius: 50%;
  z-index: 20;
  pointer-events: none;
}
.cursor2{
  box-shadow: 0px 0px 60px 20px white;
  position: fixed;
  background-color: transparent;
  border: 5px solid var(--sec-color);
  opacity: 0.6;
  display: block;
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transition:all 0.1s 0s ease-out;
  transform: translate(-50%,-50%);
  z-index: 19;
}

/* .loader span{
  position: relative;
}
.loader span::before{
  position: absolute;
  content: "\\";
  color: white;
  font-size: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
} */
@media (max-width:992px) {
  
  .cursor,
  .cursor2{
      display: none !important;
  }
  body {
      cursor:auto;
  }
}
/* end components */
@keyframes change-color {
  0%{
      color: var(--main-color);
  }
  100%{
      color: var(--sec-color);
  }
}
@keyframes change-backcolor {
  0%{
      background-color: var(--main-color);
  }
  100%{
      background-color: var(--sec-color);
  }
}
@keyframes change-borderColor {
  0%{
      border-color: var(--main-color);
  }
  100%{
      border-color: var(--sec-color);
  }
}
@keyframes change-gradient {
  0%{
      background-position: right;
  }
  50%{
      background-position: center;
  }
  100%{
      background-position: left;
  }
}
@keyframes bg-size-change {
  0%{
      background-size: 100%;
  }
  100%{
      background-size: 110%;
  }
}
section .container > *,
footer .container > *{
  transition: all 0.5s 0s ease-in-out;
}

