
/* start contact */
.contact{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-image: url(../../public/assets/images/contact.jpg); */
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
}
.contact .container{
}
.contact .container h2{
  font-size: 50px;
  color: var(--sec-color);
  margin-bottom: 20px;
}
.contact .container > p{
  font-size: 24px;
  width: 500px;
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
}
.contact .container form{
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: #181818;
  padding: 30px;
  border: 1px solid var(--sec-color);
  border-radius: 20px;
  box-shadow: 2px 2px 30px -10px var(--sec-color);
}
.contact .container form .in{
  width: 45%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact .container form .in input{
  width: 100;
}
.contact .container form div:last-of-type{
  width: 100%;  
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact .container form div:last-of-type textarea{
  width: 100%;
  height: 150px;
}
.contact .container form label{
  color: var(--label-color);
  margin-bottom: 10px;
}
.contact .container form input{
  padding: 10px 0px;
}
.contact .container form input,
.contact .container form textarea{
  border: none;
  border: 1px solid var(--sec-color);
  color: var(--text-color);
  background-color: transparent;
  transition: all 0.2s 0s ease-in-out;
  line-height: 1.4;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 20px;
}
.contact .container form .text-area textarea{
  width: 100% !important;
}
.contact .container form input:focus,
.contact .container form textarea:focus{
  outline: none;
  border: 1px solid var(--text-color);
}
.contact .container form div:has(input:focus) label,
.contact .container form div:has(textarea:focus) label{
  color: var(--text-color);
}
.contact .container form button{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  border-radius: 30px;

}
.contact .pop-up{
  position: fixed;
  left: 50%;  
  top: -80px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  color: var(--sec-color);
  display: flex;
  align-items: center;
  z-index: 9;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: var(--main-transition);
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  text-wrap: nowrap;
}
.contact .pop-up.shown{
  top: 60px;
}
.contact .pop-up:has(span.correct){
  color: var(--correct-color);
  border-bottom: 1px solid var(--correct-color);
  box-shadow: 2px 2px 24px -2px var(--correct-color);
}
.contact .pop-up:has(span.error){
  color: var(--error-color);
  border-bottom: 1px solid var(--error-color);
  box-shadow: 2px 2px 24px -2px var(--error-color);
}
.contact .pop-up span{
  color: var(--main-color);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .pop-up span.correct{
  background-color: var(--correct-color);
}
.contact .pop-up span.error{
  background-color: var(--error-color);
}

@media (max-width:992px) {
  .contact .container form{
      width: 100%;
  }
  .contact .container form textarea{
    height: 200px;
  }
  .contact .container form .in{
      width: 100%;
      margin-bottom: 20px;
  }
}
@media (max-width:767px) {
  .contact .container h2{
      font-size: 30px;
  }
  .contact .container > p{
      width: 100%;
      font-size: 16px;
  }
  .contact .container form input,
  .contact .container form textarea{
      font-size: 14px;
  }
}
/* end contact */