
/* start footer */
footer ul.main-social-links{
    margin-right: auto;
    margin-left: auto;
  }
  footer ul.main-social-links a{
  }
  footer ul a:hover{
    background-color: var(--sec-color);
    color: var(--main-color);
  }
  /* end footer */