
.main-heading{
  opacity: 0;
  transform: translateY(50px);
  transition: var(--main-transition);
  text-align: center;
  margin-bottom: 20px;
  font-size: 200px;
  font-family: "Federo",sans-serif;
  border-bottom: 1px solid var(--sec-color);
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin: 20px auto;
  color: var(--sec-color);
  font-size: 50px;
  position: relative;
  position: sticky;
}
.main-heading.scrolled{
    opacity: 1;
    transform: translateY(0%);
}