
/* start nav */
nav{
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
    background-color: var(--sec-color);
    margin-bottom: 20px;
    transform: rotateZ(45deg);
    transition: all 0.2s 0s linear;
    position: relative;
  }
  nav li span{
    position: absolute;
    padding: 5px 10px;
    background-color: var(--sec-color);
    color: var(--main-color);
    left: 0;
    top: 50%;
    /* transform: rotateZ(-45deg) translateX(-100%) translateY(-120%); */
    transform: translateX(-100%);
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:bold;
    transition: all 0.2s 0s linear;
    opacity: 0;
    cursor: pointer;
  }
  nav li.active{
    /* transform: rotateZ(0deg); */
    width: 10px;
    height: 10px;
    border: 2px solid var(--main-color);
    background-color: transparent;
  }
  @media (max-width:992px){
    nav{
        right: 20px;
    }
    nav li:not(.active){
        background-color: var(--sec-color) !important;
    }
    nav li.active{
        border-color: var(--sec-color) !important;
    }
  }
  
  @media (max-width:767px){
    nav{
        right: 40px;
    }
  }
  /* end nav */