
/* start nav */
nav{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  z-index: 13;
  font-family: "Federo",sans-serif;
}
nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
nav ul li:nth-child(1) a{
  border-radius: 6px 0px 0px 0px;
}
nav ul li:last-child a{
  border-radius: 0px 0px 0px 6px;
}
nav a{
  display: flex;
  padding: 10px !important;
  border: 1px solid var(--sec-color);
  color: #fff;
  transition: var(--main-transition);
  background-color: var(--main-color-semi);
  backdrop-filter: blur(20px);
  box-shadow: 2px 2px 24px -2px var(--sec-color);
  position: relative;
  isolation: isolate;
}  

nav a span:first-child{
  transition: var(--main-transition);
  /* width: 0px; */
  overflow: hidden;
  position: absolute;
  right: -300%;
  top: 0;
  background-color: var(--main-color-semi);
  backdrop-filter: blur(20px);
  box-shadow: 2px 2px 24px -2px var(--sec-color);
  border: 1px solid var(--sec-color);
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  border-radius: 6px 0px 0px 6px !important;
}
nav a:hover span:first-child{
  /* width: auto; */
  right: 0%;
}
nav a span:last-child{
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
  transition-delay: 0.1s;
}
nav a:hover span:last-child{
  transition-delay: 0s;
  opacity: 0;
}
nav a:hover{
  border-radius: 0px !important;
}
nav a svg{
  transition: var(--main-transition);
  position: relative !important;
  color: #fff;
  display: block;
}
/* end nav */