.download-btn{
    border: 1px solid var(--sec-color);
    background-color: var(--main-color-semi);
    margin-left: 3px;
    color: var(--text-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px -3px var(--sec-color);
}